@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #5fa8d3;
    --color-secundario: #1b4965;
    --color-texto: #1b4965;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', serif;
    color: #fff;
    list-style: none;
    text-decoration: none;
    
}

body{
    overflow-x: hidden;
}

#cerrar{
    display: none;
}

#menu {
    display: none;
}

.btn-responsive{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;
}

.negrita{
    color: #001A31;
    font-weight: 600;
}

/* Botones */

.boton-principal{
    display: inline-block;
    padding: 14px 22px;
    background-color: var(--color-primario);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition: transform .2s ease;
}

.boton-principal:hover{
    background-color: var(--color-secundario);
    transform: translateY(-2px); 
}

.boton-secundario{
    display: inline-block;
    padding: 14px 22px;
    background-color: var(--color-secundario);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    transition: transform .2s ease;
}

.boton-secundario img{
    width: 18px;
    vertical-align: middle;
    margin-left: 4px;
    margin-bottom: 3px;
}

.boton-secundario:hover{
    background-color: var(--color-primario);
    transform: translateY(-2px); 
}



/* Header */

.contenedor-principal{
    background-image: url(images/hero1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 65%;
    margin: 2.4rem 0;
    margin-top: 4rem;
}


.header-logo img {
    width: 170px;
}

.header-logo a {
    width: 100%;
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    flex-wrap: nowrap;
    margin-right: 20px;
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
}

nav ul li {
    display: inline-block;
    transition: transform .1s ease;
}

nav ul li a{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 10px;
    white-space: nowrap; 
}

nav ul li:hover{
    
    transform: translateY(-2px); 
}

nav ul li a:hover{
    color: #ccc;
}

#turnos{
    background-color: #00b4d8;
    padding: 5px;
}



.contenedor-titulo{
    display: flex;
    flex-direction: column;
    width: 63%;

}

.titulo-principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: left;

}

.titulo-principal h1{
    font-size: 5.5rem;
    font-weight: 300;
    margin-top: 8.1rem;
    margin-left: -5px;
    text-align: left;

}

.titulo-principal h2{
    font-size: 2rem;
    margin: 10px 0;
    font-weight: 400;
}

.titulo-principal p{
    font-size: 1rem;
    margin: 12px 0;
    font-weight: 300;
}

.titulo-turnos{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.titulo-turnos h2{
    margin: 10px 0;
    margin-top: 30px;
}

.contenedor-secundario{
    background-image: url(images/fondo.jpg);
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor-historia{
    display: flex;
    width: 60%;
    margin-top: 60px;
    
}

.historia{
    padding: 20px;
}

.historia h2{
    color: #001A31;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.historia h3{
    color: #001A31;
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.historia p{
    color: #001A31;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 4px;
}

.fotos-oficina{
    min-height: 600px;
}

.fotos-oficina img{
    padding: 20px;
    max-width: 600px;
    min-width: 500px; 
    max-height: 600px;
    display: block;
}

.fotos-oficina img {
    transition: opacity 1s ease-in-out;
}

.fotos-oficina img.fade-out {
    opacity: 0;
}


/*Especialidades */

.contenedor-especialidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}

.espacialidades-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.espacialidades-titulo h2{
    color: rgb(0, 26, 49);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 25px 0;
    
}

.espacialidades-titulo p {
    color: rgb(0, 26, 49);
    font-size: 1.4rem;
    margin: 10px 0;
    margin-bottom: 30px;
}

.espacialidades-tarjetas{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    align-items: center;
    justify-content: center;
}

/* Tarjetas */

.tarjeta-espacialidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 350px;
    min-height: 180px;
    margin: 10px 15px;
    box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.50);
    transition: transform .2s ease;

    border-radius: 20px;
}

.tarjeta-espacialidad:hover{
    transform: translateY(-3px); 
}

.tarjeta-titulo{
    border-bottom: 1px solid var(--color-primario);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.tarjeta-titulo h3{
    color: #001A31;
    font-weight: 600;
    font-size: 22px ;
}

.tarjeta-descripcion{
    min-height: 190px;
    padding: 30px;
    width: 100%;
}

.tarjeta-descripcion p {
    font-size: 18px;
    font-weight: 300;
    color: #001A31;
}

.tarjeta-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}

.boton-tarjeta{
    display: block;
    padding: 16px 24px;
    background-color: var(--color-primario);
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform .2s ease;
}


.boton-tarjeta:hover{
    background-color: var(--color-secundario);
    transform: translateY(-2px); 
}

.span-tarjetas{
    color: #001A31;
    font-weight: bold;
}


/* GUARDIAS */

.contenedor-avazanda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.contenedor-avazanda h2 {
    font-size: 2.6rem;
    color: #001A31;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.contenedor-avazanda p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 10px 50px;
}

.contenedor-tarjetasazules{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tarjeta-azul{
    border: 1px solid #ccc;
    background-color: #FFF;
    padding: 14px;
    margin: 15px;
    min-height: 280px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.3);
    transition: transform .5s ease;
}

.tarjeta-azul:hover{
    transform: translateY(-5px); 
    box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.50);
}

.tarjeta-azul h3{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #001A31;
    margin-top: 20px;
}

.tarjeta-azul p{
    font-size: 1.4rem;
    font-weight: 300;
    color: #001A31;
}

.tarjeta-azul img {
    width: 70px;
    margin-top: 20px;
}


/* CARRUSEL DE IMAGENES*/

.contenedor-imagenes{
    display: flex;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.imagenes-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px 0;
    width: 65%;
}
.imagenes-titulo h2{
    font-size: 2.2rem;
    color: #001A31;
    margin-bottom: 20px;
    text-align: center;
}

.imagenes-carrusel{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;
    padding: 10px 15px;
    padding-bottom: 20px;
}

.imagenes-carrusel img{
    width: 100%;
    transition: transform .5s ease;
}

.imagenes-carrusel img:hover{
    transform: translateY(-5px); 
    box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.20);
}


/*CONSULTA BOTON*/

.contenedor-consulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    width: 100%;
    background-image: linear-gradient(to right top, #1b4965, #2c5f7f, #3d779a, #4e8fb6, #5fa8d3);
    padding: 80px 0;
}

.contenedor-consulta p {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    
}

.boton-consulta{
    display: inline-block;
    padding: 16px 22px;
    background-color: #00b4d8;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition: transform .2s ease;
}

.boton-consulta:hover{
    background-color: #00b4d8;
    transform: translateY(-2px); 
}

.boton-oscuro{
    display: inline-block;
    padding: 16px 22px;
    background-color: #001A31;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition: transform .2s ease;
}

.boton-oscuro:hover{
    background-color: #00b4d8;
    transform: translateY(-2px); 
}


/*Ubicacion*/

#ubicacion{
    color: #001A31;
}

#ubicacion:hover{
    color: #00b4d8 ;
}
.contenedor-ubicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.ubicacion-main{
    display: flex;
    justify-content: center;
    width: 65%;
}

.ubicacion-informacion{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.ubicacion-titulo{
    display: flex;
    margin-top: 60px;
}

.ubicacion-titulo h2, .ubicacion-informacion h2{
    margin-left: 4px;
    color: #001A31;
    font-weight: 400;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 10px;
}

.ubicacion-informacion p{
    color: #001A31;
    font-size: 1.6rem;
    margin-bottom: 5px;
    font-weight: 300;
}


.contenedor-googlemaps iframe{
    box-shadow: 2px 1px 13px 0px rgba(0,0,0,0.9);
}





/* CONTACTO */

.contenedor-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
    box-shadow: 0px 18px 7px 0px rgba(0,0,0,0.32);

}

.titulo-contacto{
    color: #001A31;
    font-size: 3rem;
    font-weight: 600;
    margin: 60px 0;
}

.contacto-metodos{
    width: 65%;
    display: flex;
    text-align: center;
}

.contacto-celular{
    display: flex;
    flex-direction: column;
    width: 80%;
    height:fit-content;
    padding: 30px;
    margin-right: 20px;
    background-color: #fff;
    box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.29);
}

.contacto-celular h2 {
    font-size: 1.5rem;
    color: #001A31;
    text-align: left;
    margin-bottom: 10px;
}

.contacto-celular p{
    font-size: 1.3rem;
    color: #001A31;
    font-weight: 300;
    text-align: left;
    margin-bottom: 30px;
}

/*Formulario Mail*/

.formulario-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.29);
}

.formulario-contacto h2{
    color: rgb(0, 26, 49);
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 5px 20px;
    margin-top: 20px;
    text-align: left;
}

.formulario-contacto p{
    color: rgb(0, 26, 49);
    font-size: 1.1rem;
    padding: 5px 20px;
    text-align: left;
}


form{
    text-align: center;
    width: 100%;
    padding: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    color: #001A31;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 2px;
}

input,textarea,select{
    padding: 17px 25px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #F8F8F8;
    outline: none;
    color: #001A31;
    font-weight: 300;
    font-size: 20px;
    resize: none;
}


select option {
    color: #001A31;
    font-weight: 300;
}

.btn-enviar{
    background-color: var(--color-primario);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition: background .2s ease;
    transition: transform .2s ease;
}

.btn-enviar:hover{
    background-color: var(--color-secundario);
    transform: translateY(-2px); 
}



/* FOOTER */


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to right top, #1b4965, #2c5f7f, #3d779a, #4e8fb6, #5fa8d3);
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 50px 0;

}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo h3{
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.logo-redes a{
    margin: 5px;
}

.logo-footer {
    width: 260px;
}

.footer-contacto{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.footer-contacto h3{
    margin-bottom: 22px;
    font-size: 1.5rem;
}

.footer-contacto h3 a:hover{
    color: #00b4d8;
}

.contacto-info{
    display: flex;
    margin: 5px 0;
}

.contacto-info img {
    margin-right: 10px;
}

.info__contacto h4{
    font-size: 1.2rem;
}

.info__contacto p{
    font-weight: 300;
    font-size: 1rem;
}


@media screen and (max-width:1600px){

    header{
        width: 80%;
        margin-top: 2.5rem;
    }

    .contenedor-titulo{
        width: 77%;
    }

    .contenedor-historia{
        width: 80%;
    }

    .espacialidades-tarjetas{
        width: 80%;
    }

    .contenedor-tarjetasazules{
        width: 70%;
    }

    .contenedor-pasos{
        width: 80%;
    }
    
    .ubicacion-main{
        width: 80%;
    }

    .contacto-metodos{
        width: 80%;
    }

    .contenedor-footer{
        width: 80%;
    }

    .flecha{
        margin-top: 120px;
        margin-left: 500px;
    }
}


@media screen and (max-width:1370px){

    header{
        width: 90%;
    }

    .contenedor-titulo{
        width: 87%;
    }

    .contenedor-historia{
        width: 90%;
    }

    .espacialidades-tarjetas{
        width: 90%;
    }

    .contenedor-tarjetasazules{
        width: 80%;
    }

    .contenedor-pasos{
        width: 90%;
    }
    
    .ubicacion-main{
        width: 90%;
    }

    .contacto-metodos{
        width: 90%;
    }

    .contenedor-footer{
        width: 90%;
    }

    .flecha{
        margin-top: 50px;
        margin-left: 500px;
    }

    .tarjeta-espacialidad{
        width: 320px;
       
    }

    .titulo-principal h1{
        margin-top: 30px;
    }
}

@media screen and (max-width:1100px){
    #menu {
        display: block;
        margin: 1em;
    }

    #cerrar {
        display: block;
        font-size: 2.3rem;
        margin-top: 20px;
        margin-left: 15px;
    }

    header{
        display: block;
    }
    .header-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-logo button{
        margin-left: 200px;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: end;
        justify-content: start;
        position: absolute;
        top: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
        width: auto;
        right: -20px;
        background-color: #1e232b;
        height: 100vh;
    }

    nav.visible {
        opacity: 1;
        visibility: visible;
    }

    nav ul {
        display: block;
        margin-right: 100px;

    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    nav ul li a{
        font-size: 1em;
         
    }

    .historia h2{
        font-size: 2.1rem;
    }

    .historia h3{
        font-size: 1.4rem;
    }

    .historia p{
        font-size: 1.2rem;
    }

    .fotos-oficina img{
        padding: 10px;
        max-width: 450px;
        min-width: 400px; 
        max-height: 450px;
    }

    .fotos-oficina{
        min-height: 450px;
    }

    header{
        width: 96%;
    }

    .contenedor-titulo{
        width: 90%;
    }

    .contenedor-historia{
        width: 96%;
    }

    .espacialidades-tarjetas{
        width: 96%;
    }

    .contenedor-tarjetasazules{
        width: 94%;
    }

    .contenedor-pasos{
        width: 96%;
    }
    
    .ubicacion-main{
        width: 96%;
    }

    .contacto-metodos{
        width: 96%;
    }

    .contenedor-footer{
        width: 96%;
    }

    .tarjeta-espacialidad{
        width: 280px;
    }

    .tarjeta-titulo{
        height: 70px;
    }

    .tarjeta-titulo h3{
        font-size: 18px;
    }

    .tarjeta-descripcion{
        padding: 15px;
        height: 130px;
        min-height: auto;
    }

    .tarjeta-descripcion p{
        font-size: 16px;
    }

    .tarjeta-azul h3{
        font-size: 1.1rem;
    }

    .tarjeta-azul p {
        font-size: 1rem;
    }

    .contenedor-googlemaps iframe{
        width: 500px;
        height: 360px;
    }

    .contacto-metodos{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formulario-contacto{
        width: auto;
        margin-top: 30px;
    }

    .contacto-celular{
        margin-right: 0;
    }
}


@media screen and (max-width:850px){

    .contenedor-principal{
        height: 100vh;
    }

    .titulo-principal h1 {
        font-size: 3.7rem;
        font-weight: 300;
        margin-top: 6rem;
    }  

    .titulo-principal h2{
        font-size: 1.5rem;
        margin: 5px 0;
    }

    .titulo-principal p{
        margin: 8px 0;
    }

    .titulo-turnos h2{
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .flecha{
        margin-top: 225px;
        margin-left: 350px;
    }

    .contenedor-historia{
        flex-direction: column;
    }

    .historia h2{
        font-size: 2.6rem;
    }

    .fotos-oficina{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .espacialidades-titulo{
        width: 90%;
        text-align: center;
    }

    .espacialidades-titulo h2{
        font-size: 1.8rem;
    }

    .espacialidades-titulo p{
        font-size: 1.2rem;
    }


    .ubicacion-main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedor-googlemaps iframe{
        width: 500px;
        height: 360px;
    }
    
}

@media screen and (max-width:670px){

    html{
        overflow-x: hidden;
    }
    .contenedor-avazanda h2{
        font-size: 1.6rem;
    }

    .contenedor-avazanda p{
        font-size: 1.1rem;
        color: #001A31;
        padding: 10px;
    }

    .contenedor-avazanda{
        width: 100%;
        background-color: #fff;
        padding-bottom: 30px;
    }

    .contenedor-avazanda h2 {
        font-size: 1.6rem;
        text-align: center;
        color: #001A31;
        margin-top: 40px;
    }

    .contenedor-consulta p{
        font-size: 1.3rem;
        text-align: center;
        padding: 0 10px;
    }

    .contenedor-pasos{
        flex-direction: column;
    }

    .contenedor-googlemaps{
        display: flex;
        align-items: end;
    }

    .contenedor-footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .paso-turno{
        width: 50%;
    }

    .contenedor-pedirturno h2{
        font-size: 1.6rem;
    }

    .contenedor-googlemaps iframe{
        width: 320px;
        height: 460px;
    }

    .fotos-oficina img{
        max-width: 380px;
        min-width: 350px; 
        max-height: 450px;
    }
    
    .contenedor-contacto{
        width: 98%;
    }

    .logo-footer{
        width: 140px;
    }

    .contenedor-ubicacion{
        background-color: #fff;
    }

    .ubicacion-titulo h2{
        color: #001A31;
    }

    .ubicacion-informacion p{
        color: #001A31;
    }

    .ubicacion-informacion a{
        color: #001A31;
    }

    .ubicacion-informacion h2{
        color: #001A31;
    }
    
}

@media screen and (max-width:480px){
    .header-logo img {
        width: 100px;
        margin-left: 10px;
    }

    .titulo-principal h1{
        margin-top: 90px;
    }

    .titulo-turnos{
        margin-top: 108px;
    }

    
}